<!DOCTYPE html>
<html lang="en">

<head>
    <title>Express App 2.0</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {{> header}}
    <p>created:{{created}}</p>
    <a href="/">Home</a>
    <a href="/about">about</a>
    <hr> {{> footer}}
</body>

</html>